@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "../utilities/placeholders" as *;

.pie {
    background-color: $color-footer;
    padding: 24px $espacio-base;

    @include desktop {
        padding: $espacio-base * 2;
    }

    a {
        @extend %enlace-verde;
        @include transicion(color);

        &:hover,
        &:focus {
            color: $color-acento-hover;
            text-decoration: underline;
        }
    }
}
