@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

// Barra superior (navbar Bootstrap con estilo propio)
.nav-propia {
    background-color: $color-superficie;
    border-radius: $radio-medio;
    margin: 12px;
    padding: 8px 16px;

    @include desktop {
        margin: 16px;
        padding: 12px 40px;
    }

    .navbar-brand {
        font-weight: 800;
        color: $color-texto;
    }
}
